.filter-selection-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 300px;
        margin: 2rem;
        border: 2px solid blue;
        border-radius: 16px;
        .filter-input-container {
            display: flex;
            flex-direction: column;
            margin: .5rem;
        }
    }
}